* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    height: 323px;
    background-color: #445162;
}

.text {
    float: left;
    margin-left: 50px;
    text-align: left;
}

.text h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 31px;
}

.text li {
    list-style-type: none;
    padding-left: 30px;
    background-image: url("../img/check_icon.png");
    background-position: left;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

header img {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    width: 469px;
    height: 214px;
}

.top-video {
    float: left;
    width: 649px;
    margin-top: 40px;
    margin-left: 50px;
    clear: both;
}

.top-video h1 {
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.top-video p {
    margin-top: 20px;
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

video {
    margin-top: 50px;
    margin-right: 50px;
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin-bottom: 50px;
}

.dignity {
    width: 100%;
    padding: 50px;
    height: 381px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    clear: both;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
    display: block;
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68, 81, 97);
    line-height: 1.2;
}

.dignity-list {
    width: 540px;
    margin: 0;
    padding: 0 0 0 46px;
    list-style-type: none;
    float: left;
}

.dignity-list:nth-child(3) {
    float: right;
}

.dignity-list-item {
    margin: 0 0 40px 0;
    position: relative;
}

.dignity-list:nth-child(2) > .dignity-list-item:nth-child(3),
.dignity-list:nth-child(3) > .dignity-list-item:nth-child(3) {
    margin: 0;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -46px;
}

.screenshots h1 {
    padding: 50px 0 30px 0;
    text-align: center;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.screenshots_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.screenshots_block figure {
    padding: 0 0 30px 0;
    display: flex;
}

.screenshots_block p {
    margin-left: 10px;
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 420px;
}

.screenshots_block h3 {
    margin: 0 0 5px 10px;
    color: #445161;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.reviews {
    width: 100%;
    background: #f5f5f5;
}

.reviews h1 {
    padding: 50px 0 40px 0;
    text-align: center;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.reviews_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    align-content: center;
}

.reviews-txt {
    display: flex;
    margin-bottom: 24px;
}

.reviews-txt img {
    border-radius: 50%;
}

.reviews-txt blockquote {
    border-radius: 5px;
    padding: 20px;
    background-color: #ebebeb;
    margin: 0 0 10px 20px;
    width: 460px;
    position: relative;
}

.reviews-txt blockquote:before {
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #ececec;
    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews-txt p {
    width: 434px;
    color: #333333;
    font-family: "Arial - Italic MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.reviews-txt footer {
    margin-top: 4px;
    color: #989898;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.buy {
    width: 100%;
}

.buy h1 {
    margin: 50px;
    text-align: center;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.buy_block {
    margin-bottom: 49px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.buy_child {
    box-shadow: 0 0 3px 2px #425062;
    background-color: #445162;
    list-style-position: inside;
    border-radius: 5px;
}

.buy-span {
    display: block;
    height: 50px;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}

.price {
    display: block;
    height: 70px;
    color: #445162;
    font-family: "Arial MT";
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.buy_child li {
    padding-left: 30px;
    width: 242px;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.buy-btn {
    background-color: #fff;
    width: 260px;
    height: 40px;
    color: #445161;
    font-family: "Arial - Bold MT";
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px;
    border-radius: 7px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.buy-btn:hover {
    color: #fff;
    background-color: #808080;
}

.buy-btn:active {
    color: #445161;
    background-color: #fff;
}